.Navbar {
	height: 50px;
	display: flex;
	flex-wrap: nowrap;
	position: fixed;
	left: 2px;
	top: 1px;
	width: calc(100% - 4px);
}

.Home, .Subs, .Libr, .Email, .Search {
	color: white;
	background-color: black;
	outline: 1px solid white;
	font-family: 'Roboto Mono', monospace;
	height: 100%;
	font-size: 14px;
	border: none;
	padding: 0;
	margin: 0;
}

.Home, .Subs, .Libr, .Email {
	width: 75px;
}

.Search {
	flex-grow: 1;
	text-indent: 5px;
	width: calc(100% - 200px);
}

:is(.Home, .Subs, .Libr)#clicked {
	background-color: white;
	color: black;
}

@media only screen and (max-width: 420px) {
	.Navbar {
		top: calc(100% - 52px);
	}
}