.VideoPage {
	color: white;
	font-family: 'Roboto Mono', monospace;
	font-size: 14px;
	position: absolute;
	top: 52px;
	left: 2px;
	width: calc(100% - 4px);
}
.Video {
	display: flex;
	align-self: center;
	margin-inline: auto;
	width: 100%;
	max-width: 1050px;
	height: auto;
	outline: 1px solid white;
}

/*Containers*/
.UpAndDownContainer, .SetDefaultContainer{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	width: 100%;
}
	.UpAndDownContainer {
		position: relative;
		top: 1px;
	}
	.SetDefaultContainer {
		position: relative;
		top: 1.5px;
	}
	.VideoTitle {
		display: flex;
		align-items: center;
		overflow-x: scroll;
		white-space: nowrap;	
		height: 50px;
		width: 100%;
		text-indent: 5px;
		position: relative;
		top: 2.5px;
	}
	.ChannelContainer {
		position: relative;
		top: 3.5px;
		left: 0px;
		display: flex;
		align-items: center;
	}
	.OtherButtonsContainer {
		position: relative;
		top: 4.5px;
		left: 0px;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}



/*Elements*/
.Down, .Up, .Speed, .Quality, .SetDefaultQuality, .SetDefaultSpeed, .ChannelLogo, .Sub, .Backward, .Forward, .Desc, .Plst, .Loop, .VideoTitle, .ChannelName{
	border: none;
	height: 50px;
	font-size: 14px;
	background-color: black;
	font-family: 'Roboto Mono', monospace;
	color: white;
	outline: 1px solid white;
}
	.Down, .Up, .Speed, .Quality {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 75px;
	}
	.SetDefaultQuality, .SetDefaultSpeed {
		width: calc(3 * 75px);
	}
	:is(.SetDefaultQuality, .SetDefaultSpeed):active {
		background-color: white;
		color: black;
	}
	.ChannelLogo, .Sub {
		width: 52px;
	}
	:is(.Sub):global(#subed) {
		background-color: white;
		color: black;
	}
	.ChannelName {
		width: calc(100% - (2 * 52px));
		display: flex;
		align-items: center;
		text-indent: 5px;
		overflow-x: scroll;
		white-space: nowrap;	
	}
	.Backward, .Forward {
		width: 52px;
	}
	.Desc {
		width: calc(50px + 75px + 0.75px);
	}
	.Plst, .Loop {
		width: calc((100% - (2 * 75px))/3);
		max-width: 150px;
	}
	.Forward {
		margin-right: 0.75px;
	}

@media only screen and (max-width: 420px) {
	.VideoPage {
		top: 1px;
	}
}